.tooltip {
    position: relative;
    display: inline-flex;
    border-bottom: 2px dashed var(--rp-c-link);
    justify-content: center;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: max-content;
    background-color: var(--rp-custom-block-info);
    color: var(--rp-c-brand);
    text-align: center;
    padding: 5px 10px;
    border-radius: 6px;
    @apply shadow-lg;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%) translateY(-10px);
    opacity: 0;

    transition:
        visibility 0s,
        opacity 0.2s ease-in-out,
        transform 0.2s ease-in-out;

    &::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: var(--rp-custom-block-info) transparent transparent transparent;
    }
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    transform: translateX(-50%) translateY(0);
}

.link {
    color: var(--rp-c-link);
    font-weight: 600;
    transition: color 0.1s;
    @apply transition-all delay-100 p-2 rounded-md;
}
.link:hover {
    background-color: var(--rp-c-brand-tint);
}

.chip {
    background-color: var(--rp-c-brand-tint);
    color: var(--rp-c-link);
    @apply text-sm inline-flex shadow-sm items-center font-bold cursor-pointer mr-2 uppercase mb-2 px-3 py-1 bg-orange-200 delay-75 hover:underline  transition-all hover:shadow-lg text-orange-700 rounded-full;
}
