.tooltip {
	border-bottom: 2px dashed var(--rp-c-link);
	justify-content: center;
	display: inline-flex;
	position: relative;
}

.tooltip .tooltiptext {
	visibility: hidden;
	background-color: var(--rp-c-bg);
	border: 1px solid var(--rp-c-brand-tint);
	color: var(--rp-c-brand);
	text-align: center;
	z-index: 1;
	opacity: 0;
	border-radius: 6px;
	width: max-content;
	padding: 5px 10px;
	transition: visibility, opacity .2s ease-in-out, transform .2s ease-in-out;
	position: absolute;
	bottom: 100%;
	left: 50%;
	transform: translateX(-50%) translateY(-10px);

	@apply shadow-lg;

	&:after {
		content: "";
		border-style: solid;
		border-width: 5px;
		border-color: var(--rp-c-brand-tint) transparent transparent
			transparent;
		margin-left: -5px;
		position: absolute;
		top: 100%;
		left: 50%;
	}
}

.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
	transform: translateX(-50%) translateY(0);
}

.link {
	color: var(--rp-c-link);
	font-weight: 600;
	transition: color .1s;

	@apply transition-all delay-100 p-2 rounded-md;
}

.link:hover {
	background-color: var(--rp-c-brand-tint);
}

.chip {
	background-color: var(--rp-c-brand-tint);
	color: var(--rp-c-link);

	@apply text-sm inline-flex shadow-sm items-center font-bold cursor-pointer mr-2 uppercase mb-2 px-3 py-1 bg-orange-200 delay-75 hover:underline transition-all hover:shadow-lg text-orange-700 rounded-full;
}
